<?xml version="1.0" encoding="UTF-8" ?><ResourceDetails><ServerName>localhost</ServerName><LauncherName></LauncherName><ExternalBrowser>C:\Program Files (x86)\Mozilla Firefox\firefox.exe</ExternalBrowser><UseStartPage>true</UseStartPage><StartPage useextension="false" >C:/ColdFusion10/cfusion/wwwroot/api/testes/exemplo_gravarAvaliacao_Coldfusion.cfm</StartPage><Mappings></Mappings><VariableMappings></VariableMappings><DictionaryVersion></DictionaryVersion><CFCMappings></CFCMappings></ResourceDetails>